@model PcBuildingSite.Data.Entities.Computer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cpuModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cpuModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gpuModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gpuModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ramModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ramModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motherboardModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motherboardModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.storageModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.storageModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.psuModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.psuModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pcCaseModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pcCaseModel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="ComputerList">Back to List</a>
</div>
