@model IEnumerable<PcBuildingSite.Data.Entities.PSU>

@{
    ViewData["Title"] = "ShowPsus";
}

<h1>PSUs</h1>

<p>
    <a asp-action="AddPsu">Add Psu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.powerEfficiency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.powerEfficiency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-action="DeletePsu" asp-route-id="@item.model">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
